# Base de datos PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/activosFICCT"

# Servidor
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=super_secret_key_cambiar_en_produccion
JWT_EXPIRES_IN=7d
